#include "audio.config"
#include "base.install"
#include "base.config"
#include "camera.config"
#include "debug.install"
#include "gpu.config"
#include "graphics.config"
#include "gst_audio.config"
#include "gst_camera.config"
#include "gst_video.config"
#include "qtapp.config"
#include "video.config"
#include "wifi.config"
BR2_PACKAGE_RKWIFIBT_AMPAKALL=y
BR2_PACKAGE_RKWIFIBT_BTUART="ttyS0"

